<div class="container">
    <div class="text-center mt-5">
        <img src="../../../assets/github.png" alt="" srcset="" width="350" height="200">
    </div>
    <form class="form-inline mt-4 d-flex justify-content-center" (ngSubmit)="searchUser()">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input [(ngModel)]="userName" type="text" id="userName" class="form-control mx-sm-3" name="userName" />
        </div>
        <button type="submit" class="btn btn-primary">Find User</button>
    </form>

    <!-- to render error -->
    <div *ngIf="error" class="alert alert-danger m-5" role="alert">
        {{error}}
    </div>

    <div *ngIf="user" class="row mt-3">
        <div class="col col-md-4">
            <app-usercard [user]="user"></app-usercard>
        </div>
        <div class="col col-md-8">
            <app-repos [repoUrl]="user.repos_url"></app-repos>
        </div>
    </div>
</div>